{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Username</th>
                        <th scope="col">Hobby</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for profile in profiles %}
                    <tr>
                        <th scope="row">{{ profile.id }}</th>
                        <td>{{ profile.first_name }}</td>
                        <td>{{ profile.last_name }}</td>
                        <td>{{ profile.username }}</td>
                        <td>{{ profile.hobby }}</td>
                        <td>
                            <a href="{% url 'sosmed:detail-view' profile.id %}" class="btn btn-warning">Detail</a>
                            <a href="{% url 'sosmed:update-view' profile.id %}" class="btn btn-success">Update</a>
                            <a href="{% url 'sosmed:delete-view' profile.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <a href="{% url 'sosmed:create-view' %}" class="btn btn-primary">Create</a>
        </div>
    </div>
</div>
{% endblock content %}