{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <title>My Site</title>
</head>

<body>
    {% block navbar %}
        <nav>
            <a href="/">
                Home
            </a>
            <a href="{% url 'blogs:index' %}">
                Blogs
            </a>
            <a href="/kontak">
                Kontak
            </a>
        </nav>
    {% endblock navbar %}
    <hr>

    {% block title %}{% endblock title %}
    {% block content %}{% endblock content %}

</body>

</html>