{% extends 'main.html' %}

{% block content %}
    <table>
        <tr>
            <th>Owner</th>
            <th>Title</th>
            <th>Created</th>
            <th></th>
        </tr>
        {% for post in listPost %}
        <tr>
            <td>{{ post.owner.username }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.created }}</td>
            <td><a href="{% url 'single-post' post.id %}">View</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}