<!-- Start Section Footer -->

<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3 text-primary">
            <li class="nav-item"><a href="#" class="nav-link px-2 ">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 ">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 ">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 ">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 ">About</a></li>
        </ul>
        <h6 class="text-center text-dark">&copy; 2021 Company, Inc</h6>
    </footer>
</div>
<!-- End Section Footer -->