{% extends 'main.html' %}

{% block content %}
    <h2>
        Wellcome to my site
    </h2>
    <table>
        <tr>
            <th>Title</th>
            <th></th>
            <th></th>
        </tr>
        {% for project in listproject %}
        <tr>
            <td> {{ project.title }} </td>
            <td> <a href=" {% url 'blogs' project.id %} ">View</a></td>
            <td> <a href=" {% url 'update-project' project.id %} ">Edit</a></td>
            <td> <a href=" {% url 'delete-project' project.id %} ">Delete</a> </td>
        </tr>
        {% endfor %}
        </tr>
    </table>
{% endblock content %}