{% extends 'base.html' %}
{% load humanize %}

{% block title %}
Forum List
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        {% for forum in object_list %}
        <h1 class="fs-3"><a href="{% url 'forums:detail' forum.slug %}">{{ forum.title }}</a></h1>
        <p><span class="badge bg-primary">{{ forum.user.username }}</span> - {{ forum.created|naturaltime }}</p>
        <p>{{ forum.content|truncatewords:50 }}</p>
        {% if request.user == forum.user %}
        <form class ="mb-2" action="{% url 'forums:delete' forum.pk %}" method="post">
            {% csrf_token %}
            <a href="{% url 'forums:update' forum.pk %}" class="btn btn-warning">Edit</a>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        {% endif %}   
        {% endfor %}
    </div>
</div>
{% endblock content %}