{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h1>{{ page_title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Category</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in queryset %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ data.title }}</td>
                        <td>{{ data.author }}</td>
                        <td>{{ data.category }}</td>
                        <td>
                            <a href="{% url 'blog:update-view' data.slug %}" class="btn btn-warning">Update</a>
                        </td>
                        <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal-{{data.id}}">
                                Delete
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal-{{data.id}}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <a href="{% url 'blog:delete-view' data.id %}"
                                                class="btn btn-danger">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <a href="{% url 'blog:create-view' %}" class="btn btn-primary">Create</a>
        </div>
    </div>
</div>
{% endblock content %}